html {
  margin: 120px;
  margin-top: 0;
  padding: auto;
  width: 80%;
  max-width: 1280px;
}
body {
  font: verdana, sans-serif;
  color: #31363f;
}
p {
  margin-top: 0;
  text-align: justify;
  text-indent: 1em;
}
h1 {
  font: italic normal 1.8rem verdana, sans-serif;
  letter-spacing: 1px;
  color: #76abae;
}
h2 {
  font: italic normal 1.4rem verdana, sans-serif;
  letter-spacing: 1px;
  color: #76abae;
}
h3 {
  font: italic normal 1.2rem verdana, sans-serif;
  letter-spacing: 1px;
  color: #76abae;
}
abbr {
  font-style: small-caps;
}
.main {
  line-height: 1.5;
}
.summary {
  text-align: center;
}
.intro {
  height: 550px;
}
#design-archives {
  display: none;
}
header {
  background-color: #000;
  justify-content: space-between;
  display: flex;
  margin-bottom: 1em;
  h1 {
    margin-left: 20px;
    color: #fff;
  }
  h2 {
    margin-right: 20px;
    color: #fff;
  }
}
aside {
  .design-selection {
    text-align: center;

    position: absolute;
    padding: 2%;
    left: 62%;
    top: 560px;
    ul {
      list-style-type: none;
    }
    li {
      padding: 0.5em;
    }
  }
}
footer {
  background-color: #000;
  margin-top: 4%;
  a {
    color: #fff;
    border: solid 2px;
    border-spacing: 0.5em;
  }
}
.page-wrapper {
  position: relative;
}
.explanation {
  width: 60%;
  margin-right: 35%;
  border-right: #1f295c solid 1px;
  padding: 2%;
}
